/* Classes */
.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.fixed-height {
    height: 75vh;
}

.title {
    color: #5e72e4;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.full-width {
    width: 100%;
}

/* IDs */
#icon {
    width: 25px;
    transform: rotate(90deg);
}